# Visual Studio temporary files, caches and indexers
.vs/
src/.vs/
**/.vs/

# Build outputs
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
**/logs/
*.log

# User-specific project settings
*.user
*.userosscache
*.sln.docstates
*.suo

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs settings
.idea/
.vscode/
