@using global::BackOffice.Desktop.Components.Pages
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(global::BackOffice.Desktop.App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity?.IsAuthenticated ?? true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <global::BackOffice.Desktop.Components.Pages.NotFound404 />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

