<footer class="footer-nav">
    <button class="footer-btn"><img src="icons/discount.png" alt="خصم"> خصم</button>
    <button class="footer-btn"><img src="icons/meals.png" alt="الوجبات"> الوجبات</button>
    <button class="footer-btn"><img src="icons/waiting.png" alt="الانتظار"> الانتظار</button>
    <button class="footer-btn"><img src="icons/settings.png" alt="اعدادات"> اعدادات</button>
</footer>