@page "/pos"
@layout PosScreenLayout
@inject IHttpClientFactory _clientFactory

<div class="grid-container">
    <div class="grid-item">
        <label >Categories</label>
        <div class="categories">
            @if (categories != null)
            {
                @foreach (var category in categories)
                {
                    <div class="category-item">
                        <span>@category.ArabicName</span>
                    </div>
                }
            }
            else
            {
                <p>Loading categories...</p>
            }
        </div>

    </div>
    <div class="grid-item">
        <label>Sales Items</label>
        </div>
    <div class="grid-item"><label>Section 1</label></div>
    <div class="grid-item"><label>Section 1</label></div>
</div>