@page "/pos"
@layout PosScreenLayout

<div class="grid-container">
    <div class="grid-item">
        <label >Categories</label>
        @* <div class="categories"> *@
        @*     @if (categories != null) *@
        @*     { *@
        @*         @foreach (var category in categories) *@
        @*         { *@
        @*             <div class="category-item"> *@
        @*                 <span>@category.Name</span> *@
        @*                 <button @onclick="() => SelectCategory(category)">Select</button> *@
        @*             </div> *@
        @*         } *@
        @*     } *@
        @*     else *@
        @*     { *@
        @*         <p>Loading categories...</p> *@
        @*     } *@
        @* </div> *@
    </div>
    <div class="grid-item">
        <label>Sales Items</label>
        </div>
    <div class="grid-item"><label>Section 1</label></div>
    <div class="grid-item"><label>Section 1</label></div>
</div>