Build started...
Build succeeded.
[18:18:46 WRN] No store type was specified for the decimal property 'TotalOrdersCash' on entity type 'DeliveryCompanyInfo'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'AttributePrice' on entity type 'MenuSalesItems'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'CaptainTipsAmount' on entity type 'OrderSetting'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'Service' on entity type 'OrderSetting'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'Tax' on entity type 'OrderSetting'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'Tips' on entity type 'OrderSetting'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'Discount' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'DiscountPercentage' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'DiscountedItems' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'FreeItems' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'ReservationPaid' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'ReservationRemain' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'TotalDiscount' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'TotalVoid' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[18:18:46 WRN] No store type was specified for the decimal property 'ZoneBonus' on entity type 'Orders'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
BEGIN TRANSACTION;
GO

ALTER TABLE [Orders] ADD [ReservationCustomerName] nvarchar(max) NULL;
GO

ALTER TABLE [Orders] ADD [ReservationCustomerPhone] nvarchar(max) NULL;
GO

CREATE TABLE [PosSettings] (
    [Id] int NOT NULL IDENTITY,
    [NameEn] nvarchar(max) NOT NULL,
    [NameAr] nvarchar(max) NOT NULL,
    [Value] bit NOT NULL,
    CONSTRAINT [PK_PosSettings] PRIMARY KEY ([Id])
);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260208152727_UpdateReservationFieldsAndAddPosSettings', N'8.0.8');
GO

COMMIT;
GO


